@font-face {
    font-family: "UTM Avo";
    font-style: normal;
    font-weight: normal;
    src: local("UTM Avo"), url("../fonts/utm-avo.woff") format("woff");
}

@font-face {
    font-family: "UTM Avo";
    font-style: normal;
    font-weight: bold;
    src: local("UTM Avo"), url("../fonts/utm-avobold.woff") format("woff");
}

$font-family-primary: "UTM Avo", sans-serif;
$font-family-secondary: "Oswald", sans-serif;
