$dark: #303030;
$gray: #505050;
$grayLight: #9d9d9d;
$grayLighter: #e4e7e8;
$yellow: #ffc000;
$yellowLighter: #fcfdb9;
$yellowDark: #ff9c00;
$brew: #a99261;
$primary: $yellow;
$colors: (
    "dark": $dark,
    "gray": $gray,
    "primary": $primary,
    "gray-light": $grayLight,
    "gray-lighter": $grayLighter,
    "yellow-lighter": $yellowLighter,
    "yellow-dark": $yellowDark,
    "brew": $brew,
);

