/*---------------------------------
**** Components | Footer
-----------------------------------*/

.l-footer {
    background-color: $primary;
    padding: 60px 0 40px;
    font-size: 16px;
}

.c-footer-sitemap {
    display: flex;
    margin: 0 -10px;

    &__item {
        flex: 1;
        padding: 0 10px;
    }
}

.c-sitemap {
    h6 {
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 1.5em;
    }

    ul {
        font-weight: bold;
        margin-bottom: 1em;

        li {
            a {
                color: $dark;
            }
        }
    }
}
