/*---------------------------------
**** Components | Header
-----------------------------------*/

.c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;

    &__users {
        .btn {
            border-radius: 60px;
            min-width: 104px;
        }
    }
}

.c-social {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    &__item {
        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__link {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        border: 1px solid $gray;
        color: $gray;
        transition: all $duration $easing;

        &:hover {
            color: $primary;
            border-color: $primary;
            text-decoration: none;
        }
    }
}
