/*---------------------------------
**** Components | Vocabulary Practice
-----------------------------------*/

.c-info {
    @include breakpoint(lg) {
        padding: 0 120px;
    }
}

.c-vocabulary-practice {
    &__title {
        padding: 14px 8px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        background-color: $primary;

        span {
            display: block;

            @include breakpoint(lg) {
                padding: 0 8px;
            }
        }
    }

    &__body {
        display: flex;
        flex-wrap: wrap;
    }

    &__content {
        width: 100%;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            &:nth-child(1),
            &:nth-child(2) {
                width: 220px;
            }

            &:nth-child(3) {
                flex: 1;
                overflow: hidden;
            }

            &:first-child {
                .c-vocabulary-practice__inner {
                    padding-left: 0;
                }
    
                .c-vocabulary-practice__title {
                    span {
                        padding-left: 0;
                    }
                }
            }
    
            &:last-child {
                .c-vocabulary-practice__inner {
                    padding-right: 0;
                }
    
                .c-vocabulary-practice__title {
                    span {
                        padding-right: 0;
                    }
                }
            }
        }
    }

    &__inner {
        @include breakpoint(lg) {
            padding: 0 8px;
        }
    }

    &__wrapper {
        background-color: $grayLighter;

        @include breakpoint(lg) {
            height: 450px;
        }
    }
}

.c-select-group {
    display: flex;
    flex-direction: column;
    height: 100%;

    &__header {
        padding: 10px;
    }

    &__body {
        flex: 1 1 auto;
        overflow-x: hidden;
        overflow-y: auto;
        padding: 0 10px 10px 10px;
    }
}

.c-grammar-practice-choose-word {
    label {
        cursor: pointer;
        user-select: none;
        
        input[type="radio"] {
            display: none;

            &:checked + strong {
                text-decoration: line-through;
                color: $yellowDark;
            }
        }
    }
}