/*---------------------------------
**** Components | Lessons
-----------------------------------*/

.c-lessons {
    &__item {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px;
    }

    &__main {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 62.5%;
        }
    }

    &__side {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 37.5%;
        }
    }
}