/*---------------------------------
**** Components | Container
-----------------------------------*/

.l-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    min-width: 768px;
    overflow: hidden;
}

.l-content {
    flex: 1 0 auto;
    padding-top: 16px;
    padding-bottom: 36px;
}

.container {
    max-width: 960px;
    padding: 0 20px;
    margin: 0 auto;
}