/*---------------------------------
**** Components | Vocabulary
-----------------------------------*/

.c-vocabulary {
    border-collapse: collapse;
    border-spacing: 1px;
    width: 100%;

    th,
    td {
        border-top: 1px solid $dark;
        border-bottom: 1px solid $dark;
    }
    
    thead {
        th {
            background-color: $dark;
            color: white;
            padding: 16px;
            font-size: 18px;
            font-weight: normal;

            @include breakpoint(lg) {
                font-size: 24px;
            }
            
            &:not(:last-child) {
                border-right: 1px solid $dark;
            }
        }
    }

    tbody {
        td {
            padding: 8px 10px;
            background-color: $grayLighter;

            &:not(:last-child) {
                border-right: 1px solid white;
            }
        }
    }
}