/*---------------------------------
**** Components | Game
-----------------------------------*/

.c-game {
    @include breakpoint(lg) {
        max-width: 725px;
        margin: 0 auto;
    }
}

.c-game-unscramble-words {
    background-color: #fdf9bd;
    box-shadow: 0 0 5px #7b7b7b;
    padding: 16px 16px 40px;

    &__header {
        position: relative;
        margin-bottom: 40px;
    }

    &__image {
        img {
            display: block;
            width: 100%;
        }
    }

    &__title {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 16px;
        text-align: center;

        span {
            display: inline-block;
            vertical-align: middle;
            padding: 8px 30px 11px;
            background-color: $primary;
        }
    }

    &__body {
        text-align: center;
    }

    .input-character {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 34px;
        line-height: 30px;
        padding: 0;
        text-align: center;
        background-color: white;
        border: 1px solid #e8dea0;
        border-radius: 2px;
        font-size: 28px;
        text-transform: uppercase;
        margin: 0 6px;
    }

    .character {
        display: inline-block;
        vertical-align: middle;
        width: 40px;
        height: 34px;
        line-height: 30px;
        padding: 0;
        text-align: center;
        background-color: $primary;
        border-radius: 2px;
        font-size: 28px;
        text-transform: uppercase;
        margin: 0 6px;
        cursor: pointer;
    }

    &__footer {
        text-align: center;

        .btn {
            min-width: 130px;
            margin: 0 15px;
        }
    }
}

.c-game-choose-words {
    min-height: 400px;
    background: #fdf9bd url("../img/game/image-02.jpg") no-repeat 0 100%;
    background-size: 100% auto;
    padding: 16px 16px 40px;
    box-shadow: 0 0 5px #7b7b7b;

    &__title {
        text-align: center;
        margin-bottom: 60px;
        font-weight: normal;

        span {
            display: inline-block;
            vertical-align: middle;
            padding: 6px 50px 12px;
            background-color: $primary;
            border-radius: 10px;
        }
    }

    &__body {
        text-align: center;
    }

    &__footer {
        text-align: center;

        .btn {
            min-width: 130px;
            margin: 0 15px;
        }
    }

    .list-words {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 160px;
        margin-bottom: 64px;

        &__item {
            margin: 10px;

            span {
                display: block;
                padding: 4px 12px 10px;
                min-width: 215px;
                background-color: #fff;
                box-shadow: 2px 3px 6px rgba($color: #3e3f40, $alpha: .55);
                font-size: 28px;
                font-weight: bold;
                color: $yellowDark;
                text-align: center;
            }
        }
    }
}

.c-game-type {
    text-align: center;
    min-height: 613px;
    background: url("../img/game/image-03.jpg") no-repeat 50% 50%;
    background-size: cover;
    padding: 30px 40px 40px;

    &__header {
        margin-bottom: 180px;
    }

    &__title {
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 30px;

        span {
            display: inline-block;
            vertical-align: middle;
            padding: 8px 30px 11px;
            background-color: $primary;
        }
    }

    &__body {
        textarea {
            display: block;
            width: 100%;
            background-color: $primary;
            border-radius: 16px;
            padding: 16px;
            font-size: 18px;
            outline: none;
            resize: none;
            border: none;
        }

        .btn-hint {
            min-width: 224px;
            padding: 8px 4px 10px;
            font-size: 30px;
            text-align: center;
            border-radius: 16px;
            box-shadow: 0 0 6px rgba($color: #000000, $alpha: .6);
            line-height: 1;
            background-color: #f26c4f;
            color: white;
            margin: 0 10px;
        }

        .btn-check {
            min-width: 224px;
            padding: 8px 4px 10px;
            font-size: 30px;
            text-align: center;
            border-radius: 16px;
            box-shadow: 0 0 6px rgba($color: #000000, $alpha: .6);
            line-height: 1;
            background-color: #8dc63f;
            color: white;
            margin: 0 10px;
        }
    }
}

.c-game-listen-chose {
    text-align: center;
    min-height: 550px;
    background: url("../img/game/image-03.jpg") no-repeat 50% 50%;
    background-size: cover;
    padding: 30px 40px;

    &__header {
        margin-bottom: 30px;
    }

    &__title {
        text-align: center;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 30px;

        span {
            display: inline-block;
            vertical-align: middle;
            padding: 8px 30px 11px;
            background-color: $primary;
        }
    }

    &__body {
        .listen-button {
            margin-bottom: 90px;
        }

        .chose-list {
            max-width: 510px;
            margin: 0 auto;
            display: flex;
            flex-wrap: wrap;

            &__item {
                width: 50%;
                padding: 0 15px;
                margin-bottom: 30px;
            }

            .chose-answer {
                display: block;
                margin-bottom: 0;
                width: 100%;
                cursor: pointer;

                span {
                    display: block;
                    padding: 0 8px 6px;
                    border-radius: 7px;
                    background-color: $yellowDark;
                    font-size: 28px;
                    color: white;
                    box-shadow: 0 0 6px 2px rgba($color: #000000, $alpha: .5);
                }

                input {
                    display: none;

                    &:checked + span {
                        background-color: $yellow;
                    }
                }
            }
        }
    }

    &__footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .btn {
            margin: 0 15px;
            min-width: 130px;
        }
    }
}