/*---------------------------------
**** Components | Grammar Pratice
-----------------------------------*/

.c-grammar-practice {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 50%;
        }
    }
}

.c-grammar-practice-info {
    p {
        @include breakpoint(lg) {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}

.list-chips {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    li {
        margin: 0 10px 10px 0;
    }
}

.chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 43px;
    vertical-align: middle;
    min-width: 133px;
    padding: 7px 4px 9px;
    font-size: 18px;
    background-color: $grayLighter;
    cursor: move;

    &.active {
        background-color: white;
        border: 2px dashed $grayLighter;
        color: $grayLighter;
    }

    &--rounded {
        border-radius: 43px;
    }

    &--shadow {
        border-radius: 10px;
        box-shadow: 0 2px 0 rgba($color: #000000, $alpha: .2);
        height: 37px;
    }
}

.list-paragraph {
    @include breakpoint(lg) {
        max-width: 520px;
        margin: 0 auto;
    }

    li {
        margin-bottom: 20px;
        font-size: 18px;

        .chip {
            margin: 0 10px;
        }
    }
}

.c-grammar-practice-drag-drop {
    @include breakpoint(lg) {
        max-width: 720px;
        margin: 0 auto;
    }
}

.c-grammar-practice-drop {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
        padding: 0 10px;
        width: (100%/3);
    }
}

.c-flash-card {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;

    &__item {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 25%;
        }
    }

    &__image {
        position: relative;

        &::before {
            content: "";
            display: block;
            width: 6px;
            height: 100%;
            background: url("../img/flash-card-mask.png") repeat-y;
            background-size: 100% auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 10;
        }

        img {
            display: block;
            width: 100%;
            height: 117px;
            object-fit: cover;
        }
    }

    &__content {
        height: 117px;
        display: flex;

        &::before {
            content: "";
            display: block;
            width: 8px;
            height: 100%;
            background: url("../img/flash-card-pattern.png") repeat-y;
            background-size: 100% auto;
        }
    }

    &__inner {
        background-color: $primary;
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px 30px;
    }
}

.c-choose-word {
    line-height: 2;

    .form-control {
        margin: 0 5px;
        width: 90px;
        text-align: center;
    }
}

.c-grammar-practice-check {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 50%;
        }
    }
}