/*---------------------------------
**** Components | Grammar
-----------------------------------*/

.c-grammar {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 50%;
        }
    }
}