/*---------------------------------
**** Components | Topic
-----------------------------------*/

.c-topics {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
        width: 100%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 50%;
        }
    }
}

.c-practice-link {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;

    &__item {
        width: 50%;
        padding: 0 10px;
        margin-bottom: 20px;

        @include breakpoint(lg) {
            width: 25%;
        }

        .btn {
            width: 100%;
            font-size: 18px;
            text-transform: uppercase;
            padding: 10px 12px 11px;
        }
    }
}