/*---------------------------------
**** Utilities | Text
-----------------------------------*/

@each $key,
$val in $colors {
    .text-#{$key} {
        color: #{$val} !important;
    }
}

.text-taller {
    font-size: 18px;
}

.text-medium {
    font-size: 20px !important;
}

.text-big {
    font-size: 30px !important;
}

.text-uppercase {
    text-transform: uppercase !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.font-weight-normal {
    font-weight: normal !important;
}

.font-weight-bold {
    font-weight: bold !important;
}