/*---------------------------------
**** Utilities | Background
-----------------------------------*/

@each $key,
$val in $colors {
    .bg-#{$key} {
        background-color: #{$val} !important;
    }
}