/*---------------------------------
**** Utilities | Spacing
-----------------------------------*/

.spacer {
    flex: 1 !important;
}

$spacing-unit: 4px;
@for $i from 0 through 40 {
    .mt-#{$i} {
        margin-top: $i*$spacing-unit;
    }
    .mb-#{$i} {
        margin-bottom: $i*$spacing-unit;
    }
    .ml-#{$i} {
        margin-left: $i*$spacing-unit;
    }
    .mr-#{$i} {
        margin-right: $i*$spacing-unit;
    }
    .mx-#{$i} {
        margin-left: $i*$spacing-unit;
        margin-right: $i*$spacing-unit;
    }
    .my-#{$i} {
        margin-top: $i*$spacing-unit;
        margin-bottom: $i*$spacing-unit;
    }
    .m-#{$i} {
        margin: $i*$spacing-unit;
    }
    .pt-#{$i} {
        padding-top: $i*$spacing-unit;
    }
    .pb-#{$i} {
        padding-bottom: $i*$spacing-unit;
    }
    .pl-#{$i} {
        padding-left: $i*$spacing-unit;
    }
    .pr-#{$i} {
        padding-right: $i*$spacing-unit;
    }
    .px-#{$i} {
        padding-left: $i*$spacing-unit;
        padding-right: $i*$spacing-unit;
    }
    .py-#{$i} {
        padding-top: $i*$spacing-unit;
        padding-bottom: $i*$spacing-unit;
    }
    .p-#{$i} {
        padding: $i*$spacing-unit;
    }
}