extends _layouts/default

append vars
    -name = 'game'

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="#") Học từ vựng
                li
                    span Thực hành
        .c-game
            p.mb-10
                | Bạn hãy click vào loa để nghe từ, sau đó sắp xếp các chữ cái bên dưới để tạo thành từ mà bạn nghe được. Click vào chữ HINTS để được trợ giúp, CHECK để kiểm tra xem mình đã làm đúng chưa và UNDO để quay lại từ vừa click. Bạn cũng có thể click vào từng chữ cái đã sắp xếp để đưa chữ cái đó về vị trí cũ nếu làm sai.
                br
                | Bạn cũng có thể dùng bàn phím để thao tác:
                br
                | (Bạn hãy tắt tiếng việt trước khi dùng)
                br
                | + phím CHỮ CÁI để hoàn thành từ.
                br
                | + phím ENTER để check.
                br
                | + phím DELETE hoặc BACKSPACE để undo.
                br
                | Một từ được coi là qua khi bạn không sử dụng trợ giúp.
            .c-game-listen-chose
                .c-game-listen-chose__header
                    h3.c-game-listen-chose__title
                        span Listen &amp; chose
                .c-game-listen-chose__body
                    .listen-button
                        button.btn.btn-clear(type="button")
                            span.icon.icon-sound
                    .chose-list
                        .chose-list__item
                            label.chose-answer
                                input(type="radio" name="chose-answer")
                                span A waiter
                        .chose-list__item
                            label.chose-answer
                                input(type="radio" name="chose-answer")
                                span A wether
                        .chose-list__item
                            label.chose-answer
                                input(type="radio" name="chose-answer")
                                span A water
                        .chose-list__item
                            label.chose-answer
                                input(type="radio" name="chose-answer")
                                span A father
                .c-game-listen-chose__footer
                    button.btn.btn-yellow-dark.btn--rounded.btn--md.text-dark(type="button") REPLY
                     button.btn.btn-yellow-dark.btn--rounded.btn--md.text-dark(type="button") NEXT