extends _layouts/default

append vars
    -name = 'game'

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="#") Học từ vựng
                li
                    span Thực hành
        .c-game
            p.mb-10
                | Bạn hãy click vào loa để nghe từ, sau đó sắp xếp các chữ cái bên dưới để tạo thành từ mà bạn nghe được. Click vào chữ HINTS để được trợ giúp, CHECK để kiểm tra xem mình đã làm đúng chưa và UNDO để quay lại từ vừa click. Bạn cũng có thể click vào từng chữ cái đã sắp xếp để đưa chữ cái đó về vị trí cũ nếu làm sai.
                br
                | Bạn cũng có thể dùng bàn phím để thao tác:
                br
                | (Bạn hãy tắt tiếng việt trước khi dùng)
                br
                | + phím CHỮ CÁI để hoàn thành từ.
                br
                | + phím ENTER để check.
                br
                | + phím DELETE hoặc BACKSPACE để undo.
                br
                | Một từ được coi là qua khi bạn không sử dụng trợ giúp.
            .c-game-choose-words
                .c-game-choose-words__header
                    h3.c-game-choose-words__title
                        span Chọn nghĩa đúng của từ
                .c-game-choose-words__body
                    h3.font-weight-normal It’s a disease #[strong.text-yellow-dark afects] malnly old people
                    .list-words
                        .list-words__item
                            span giúp đỡ
                        .list-words__item
                            span giúp đỡ
                        .list-words__item
                            span giúp đỡ
                        .list-words__item
                            span giúp đỡ                 
                .c-game-choose-words__footer
                    button.btn.btn-primary.btn--rounded.btn--md.text-dark(type="button") SUBMIT
                    button.btn.btn-primary.btn--rounded.btn--md.text-dark(type="button") NEXT