extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 2 - Exercise 1
            p
                | Click để gạch bỏ một từ sai trong hai từ được in đậm.
        
        .c-grammar-practice-choose-word
            p.text-taller
                | 1.Last year, farmers
                label
                    input(type="radio", name="word-01")
                    strong growed
                label
                    input(type="radio", name="word-01")
                    strong grew
                | flowers in this huge garden.
            p.text-taller
                | 2.I
                label
                    input(type="radio", name="word-02")
                    strong begined
                label
                    input(type="radio", name="word-02")
                    strong began
                | the new project last week.

        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT