extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 1 - Exercise 4
            p
                | Viết câu đầy đủ sử dụng những từ cho sẵn và trạng từ trong dấu ngoặc đơn.
        
        .c-choose-word
            p 1.Kangaroos (live) #[input.form-control(type="text")] in Australia. 2.Wat
            p 2.Water (freeze) #[input.form-control(type="text")] at 0 degree and (boil) #[input.form-control(type="text")] at 100 degrees Celsius.
            p 3.The sun (rise) #[input.form-control(type="text")] in the east and (set) #[input.form-control(type="text")] in the west.
            p 4.Wood (float) #[input.form-control(type="text")] on water.
            p 5.Trees (lose) #[input.form-control(type="text")] their leaves in autumn.
            p 6.Money (not guarantee) #[input.form-control(type="text")] happiness.
            p 7.(it, snow) #[input.form-control(type="text")] in winter?
            p 8.A magnet (attract) #[input.form-control(type="text")] iron.
            p 9.Dogs (not have) #[input.form-control(type="text")] eight legs.
            p 10.The moon (orbit) #[input.form-control(type="text")] the earth.

        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT