extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Present simple - Level 1 - Exercise 1
            p
                | Phần này có 15 động từ theo quy tắc đã được thêm -ed. Phân loại các động từ này dựa vào cách đọc -ed.Bạn hãy kéo từ đó vào cột tương ứng.
        
        .c-grammar-practice-drag-drop
            ul.list-chips.mb-5
                li
                    span.chip.chip--shadow rides
                li
                    span.chip.chip--shadow keeps
                li
                    span.chip.chip--shadow visit
                li
                    span.chip.chip--shadow take
                li
                    span.chip.chip--shadow is
            
            .c-grammar-practice-drop
                .c-grammar-practice-drop__item
                    .card-grammar-practice-drop
                        .card-grammar-practice-drop__header /Id/
                        .card-grammar-practice-drop__body
                .c-grammar-practice-drop__item
                    .card-grammar-practice-drop
                        .card-grammar-practice-drop__header /t/
                        .card-grammar-practice-drop__body
                .c-grammar-practice-drop__item
                    .card-grammar-practice-drop
                        .card-grammar-practice-drop__header /d/
                        .card-grammar-practice-drop__body