extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Present simple
        .c-video-frame.text-center.mb-6.mt-14
            video(width="640", height="385", poster="//video.tienganh123.com/phothong/lop8/unit1/grammar1/present_simple_1_noneVIP.jpg", controls)
                source(src="//mp4.tienganh123.com/phothong/lop8/unit1/grammar1/present_simple_1_noneVIP.mp4")
        .mb-10
            h2.heading-primary.text-center.text-big.text-uppercase
                span.bg-yellow-dark Tóm tắt bài học
            h3.heading-primary.text-center.text-big
                span.bg-yellow-dark Cách dùng thì hiện tại đơn 
        .c-grammar
            .c-grammar__item
                .card-grammar
                    .card-grammar__header
                        .card-grammar__number
                            .card-grammar__no 1
                        .card-grammar__title Diễn tả những hành động lặp đi lặp lại hay thói quen
                    .card-grammar__body
                        .list-grammar
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio.icon-audio--pause
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
            .c-grammar__item
                .card-grammar
                    .card-grammar__header
                        .card-grammar__number
                            .card-grammar__no 2
                        .card-grammar__title Diễn tả những hành động lặp đi lặp lại hay thói quen
                    .card-grammar__body
                        .list-grammar
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio.icon-audio--pause
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
            .c-grammar__item
                .card-grammar
                    .card-grammar__header
                        .card-grammar__number
                            .card-grammar__no 3
                        .card-grammar__title Diễn tả những hành động lặp đi lặp lại hay thói quen
                    .card-grammar__body
                        .list-grammar
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio.icon-audio--pause
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
            .c-grammar__item
                .card-grammar
                    .card-grammar__header
                        .card-grammar__number
                            .card-grammar__no 4
                        .card-grammar__title Diễn tả những hành động lặp đi lặp lại hay thói quen
                    .card-grammar__body
                        .list-grammar
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)
                            .list-grammar__item
                                .list-grammar__button
                                    button.btn.btn-clear(type="button")
                                        span.icon-audio.icon-audio--pause
                                .list-grammar__content
                                    h6 We go to the cinema every Sunday
                                    p (Chúng tôi đi xem phim vào mỗi Chủ nhật.)

        .mb-8.text-center
            a.btn.btn-primary.btn--rounded.btn--big.text-dark(href="./grammar-practice.html") Tới bài thực hành