extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 1 - Exercise 1
            p
                | Cho dạng đúng của những động từ trong ngoặc để hoàn thành đoạn văn.
        
        .c-choose-word
            | This is Simon's daily routine. He #[strong (1. get)]
            input.form-control(type="text")
            | up at half past six and #[strong (2. go)]
            input.form-control(type="text")
            | into the bathroom to wash. He #[strong (3. wash)]
            input.form-control(type="text")
            | his face and #[strong (4. brush)]
            input.form-control(type="text")
            | his teeth. Then he #[strong (5. put)]
            input.form-control(type="text")
            | on his clothes and #[strong (6. go) ]
            input.form-control(type="text")
            | upstairs. Simon's mother #[strong (7. prepare)]
            input.form-control(type="text")
            | reakfast and his father #[strong (8. do)]
            input.form-control(type="text")
            | morning exercise.Afterwards, Simon and his parents #[strong (9. have)]
            input.form-control(type="text")
            | breakfast together. Simon's father and mother #[strong (10. eat)]
            input.form-control(type="text")
            | some bread while Simon #[strong (11. enjoy)]
            input.form-control(type="text")
            | his sandwiches and apple juice. At 7.15, Simon #[strong (12. leave) ]
            input.form-control(type="text")
            | his house and #[strong (13. walk)]
            input.form-control(type="text")
            | to the bus stop. He always #[strong (14. try)]
            input.form-control(type="text")
            | not to be late for school. His parents #[strong (15. work)]
            input.form-control(type="text")
            | in the same company, so they #[strong (16. go)]
            input.form-control(type="text")
            | to work together. Simon #[strong (17. come) ]
            input.form-control(type="text")
            | home from school at twelve. He #[strong (18. eat)]
            input.form-control(type="text")
            | lunch and #[strong (19. do)]
            input.form-control(type="text")
            | his homework. After that, he #[strong (20. watch)]
            input.form-control(type="text")
            | television, #[strong  (21. read)]
            input.form-control(type="text")
            | books or #[strong  (22. play)]
            input.form-control(type="text")
            | with his friends. In the evening, he #[strong  (23. learn)]
            input.form-control(type="text")
            | English on the Internet and #[strong  (24. listen)]
            input.form-control(type="text")
            | to English songs. He #[strong  (25. go) ]
            input.form-control(type="text")
            | to bed at 10 o'clock.
        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT