extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Present simple - Level 1 - Exercise 1
            p
                | Kéo và thả những từ cho sẵn vào chỗ trống thích hợp.
                br
                | (Hướng dẫn: Bạn hãy kéo từ cho sẵn vào ô trống thích hợp, hoặc kích vào từ cho sẵn và kích vào ô trống thích hợp tạo thành đáp án đúng.)
        
        ul.list-chips.mb-5
            li
                span.chip rides
            li
                span.chip keeps
            li
                span.chip visit
            li
                span.chip take
            li
                span.chip is
        
        ul.list-paragraph.mb-10
            li
                span 1. Michael Jackson
                span.chip.chip--rounded
                span a famous pop star.
            li
                span 2. Cathy
                span.chip.chip--rounded
                span her bike to school every morning
            li
                span 1. Michael Jackson
                span.chip.chip--rounded
                span a famous pop star.
            li
                span 2. Cathy
                span.chip.chip--rounded
                span her bike to school every morning
        
         ul.list-chips.mb-5
            li
                span.chip rides
            li
                span.chip keeps
            li
                span.chip visit
            li
                span.chip take
            li
                span.chip is
        
        ul.list-paragraph.mb-10
            li
                span 1. Michael Jackson
                span.chip.chip--rounded
                span a famous pop star.
            li
                span 2. Cathy
                span.chip.chip--rounded
                span her bike to school every morning
            li
                span 1. Michael Jackson
                span.chip.chip--rounded
                span a famous pop star.
            li
                span 2. Cathy
                span.chip.chip--rounded
                span her bike to school every morning