extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        
        .c-grammar-practice.mt-12
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-01.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-01.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 1
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 1
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-02.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-02.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 2
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 2
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-03.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-03.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 3
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 3
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="./grammar-practice-04.html")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-04.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 4
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 4
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="#")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-05.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 5
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 5
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này
            .c-grammar-practice__item
                a.card-grammar-practice(href="#")
                    .card-grammar-practice__image
                        img(src="./img/grammar/thumbnail-06.jpg", alt="")
                    .card-grammar-practice__header
                        .card-grammar-practice__number
                            .card-grammar-practice__no 6
                        .card-grammar-practice__title
                            | Present simple 
                            br
                            | Level 1
                            br
                            | Exercise 6
                    .card-grammar-practice__body
                        h6
                            span Bạn chưa làm bài này

        .text-center
            a.btn.btn-clear.text-big.text-dark(href="#") Tới bài thực hành