extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 1 - Exercise 4
            p
                | Viết câu đầy đủ sử dụng những từ cho sẵn và trạng từ trong dấu ngoặc đơn.
        
        .c-write-sentence
            p
                | 1.Tom and Tin/ play/ volleyball/ school yard (usually)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 2.My teacher/ be/ late/ school (never)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 3.Josh's father/ eat/ breakfast/ before work (always)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 4.She/ get up/ early/ morning (sometimes)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 5.He/ forget/ do/ homework (hardly)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 6.My cousin/ watch TV/ and/ listen/ music (often)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 7.Julie/ be/ sad (seldom)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 8.I/ see foxes in this forest (sometimes)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 9.My dog/ be/ angry (rarely)
                br
                input.form-control.form-control--shadow(type="text")
            p
                | 10.James and Tony/ be / very busy/ Sundays (often)
                br
                input.form-control.form-control--shadow(type="text")

        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT