extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 2 - Exercise 1
            p
                | Chọn từ có cách đọc đuôi #[strong s/es] khác với các từ còn lại.
        
        .c-grammar-practice-check
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
            .c-grammar-practice-check__item
                .card-grammar-practice-check   
                    .card-grammar-practice-check__item
                        label
                            h5 A. bakes
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 B. keeps
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 C. loses
                            .custom-checkbox
                                input(type="checkbox")
                                span
                    .card-grammar-practice-check__item
                        label
                            h5 D. hates
                            .custom-checkbox
                                input(type="checkbox")
                                span
                            

        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT