extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 2 - Exercise 1
            p
                | Chọn câu đúng ngữ pháp và sát nghĩa nhất với thông tin đã cho.
        
        .c-grammar-practice-choose-sentence
            .mb-8.text-taller
                strong 1.We aren’t rich. We can’t buy a big house.
                br
                label.custom-radio
                    span.custom-radio__radio
                        input(type="radio", name="sentence-01")
                        span
                    | A. We are not rich enough to buy a big house.
                br
                label.custom-radio
                    span.custom-radio__radio
                        input(type="radio", name="sentence-01")
                        span
                    | B. We are not enough rich to buy a big house.
                br
                label.custom-radio
                    span.custom-radio__radio
                        input(type="radio", name="sentence-01")
                        span
                    | C. We are poor enough to buy a big house.
            .mb-8.text-taller
                strong 2.We aren’t rich. We can’t buy a big house.
                br
                label.custom-radio
                    span.custom-radio__radio
                        input(type="radio", name="sentence-02")
                        span
                    | A. We are not rich enough to buy a big house.
                br
                label.custom-radio
                    span.custom-radio__radio
                        input(type="radio", name="sentence-02")
                        span
                    | B. We are not enough rich to buy a big house.
                br
                label.custom-radio
                    span.custom-radio__radio
                        input(type="radio", name="sentence-02")
                        span
                    | C. We are poor enough to buy a big house.
        .mt-10.text-center
            button.btn.btn-yellow-dark.btn--big.btn--rounded.text-dark(type="button") SUBMIT