extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học ngữ pháp
                li
                    span Thực hành bài 1
        .c-grammar-practice-info.mb-10
            h2.heading-primary.text-center.mb-2
                span.bg-yellow-dark.text-big Enough - Level 1 - Exercise 1
            p
                | (Hướng dẫn: Bạn hãy kéo miếng ghép màu xanh với miếng ghép màu cam tương ứng, hoặc kích vào hai miếng ghép màu xanh và màu cam để tạo thành đáp án đúng.)
        
        .c-flash-card
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-01.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-02.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-03.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-04.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-05.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-06.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-07.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried
            .c-flash-card__item
                .c-flash-card__image
                    img(src="./img/flashcard/image-08.jpg", alt="")
            .c-flash-card__item
                .c-flash-card__content
                    .c-flash-card__inner
                        | They are not old
                        br
                        | enought to merried