extends _layouts/default

append vars
    -name = 'home'

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="#") Học từ vựng
        .c-topics
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-01.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 1
                        .card-topic__body
                            h3 My friends
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-02.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 2
                        .card-topic__body
                            h3 Making Arrangements
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-03.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 3
                        .card-topic__body
                            h3 My Neighborhood
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-04.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 4
                        .card-topic__body
                            h3 My dog
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-05.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 5
                        .card-topic__body
                            h3 Rainy
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-06.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 6
                        .card-topic__body
                            h3 My family
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-07.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 7
                        .card-topic__body
                            h3 Harry poster
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-08.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 8
                        .card-topic__body
                            h3 Toroto
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-09.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 9
                        .card-topic__body
                            h3 See in my eye
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-10.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 10
                        .card-topic__body
                            h3 Smile and fun
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-11.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 11
                        .card-topic__body
                            h3 Play outside
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
            .c-topics__item
                .card-topic
                    .card-topic__image
                        img(src="./img/topics/topic-image-12.jpg", alt="")
                    .card-topic__content
                        .card-topic__header
                            h5 Bài 12
                        .card-topic__body
                            h3 Light in golden
                        .card-topic__footer
                            a.btn.btn-yellow-lighter(href="./lessons.html") Bắt đầu học
        .c-practice-link
            .c-practice-link__item
                a.btn.btn-primary(href="#") Bài trắc nghiệm
            .c-practice-link__item
                a.btn.btn-primary(href="#") Bài luyện tập
            .c-practice-link__item
                a.btn.btn-primary(href="#") Bài kiểm tra
            .c-practice-link__item
                a.btn.btn-primary(href="#") Giải trí
        .mt-4
            a(href="#")
                img.img--full(src="./img/banners/banner-02.jpg", alt="")