extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="#") Học bài 1
        .c-lessons
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-01/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Từ vựng
                            .card-lesson__footer
                                a.btn.btn-dark(href="./vocabulary.html") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài giảng bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành từ vựng
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-02/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Ngữ pháp phần 1
                                p
                                    i The present simple
                            .card-lesson__footer
                                a.btn.btn-dark(href="./grammar.html") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài tập bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành ngữ pháp 1
                            p
                                i The present simple
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-03/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Ngữ pháp phần 2
                                p
                                    i The present simple
                            .card-lesson__footer
                                a.btn.btn-dark(href="#") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài tập bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành ngữ pháp 2
                            p
                                i The present simple
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
            .c-lessons__item
                .c-lessons__main
                    .card-lesson
                        .card-lesson__image
                            img(src="./img/lessons/lesson-04/lesson-thumbnail.jpg", alt="")
                        .card-lesson__content
                            .card-lesson__header
                                h4.text-uppercase.font-weight-normal Bài giảng bài 1
                            .card-lesson__body
                                h4.text-uppercase Ngữ pháp phần 3
                                p
                                    i The present simple
                            .card-lesson__footer
                                a.btn.btn-dark(href="#") Học ngay
                .c-lessons__side
                    .card-lesson__content
                        .card-lesson__header
                            h4.text-uppercase.font-weight-normal Bài tập bài 1
                        .card-lesson__body
                            h4.text-uppercase Thực hành ngữ pháp 3
                            p
                                i The present simple
                        .card-lesson__footer
                            a.btn.btn-dark(href="#") Điểm: 0/30
        .c-improve-skills
            .c-improve-skills__header
                h2.heading-primary.text-uppercase.mb-10
                    span Luyện kỹ năng
            .c-improve-skills__body
                .list-skills
                    .list-skills__item
                        .card-skill
                            .card-skill__header
                                img(src="./img/icons/icon-listen.png", alt="")
                            .card-skill__body
                                h4 Nghe
                                p Nghe chủ đề bạn bè và
                                    br
                                    | giới thiệu bản thân
                            .card-skill__footer
                                a.btn.btn-primary(href="#") Bạn chưa làm bài này
                    .list-skills__item
                        .card-skill
                            .card-skill__header
                                img(src="./img/icons/icon-read.png", alt="")
                            .card-skill__body
                                h4 Đọc
                                p Nghe chủ đề bạn bè và
                                    br
                                    | giới thiệu bản thân
                            .card-skill__footer
                                a.btn.btn-primary(href="#") Bạn chưa làm bài này
                    .list-skills__item
                        .card-skill
                            .card-skill__header
                                img(src="./img/icons/icon-write.png", alt="")
                            .card-skill__body
                                h4 Viết
                                p Nghe chủ đề bạn bè và
                                    br
                                    | giới thiệu bản thân
                            .card-skill__footer
                                a.btn.btn-primary(href="#") Bạn chưa làm bài này
                    
        .mt-4
            a(href="#")
                img.img--full(src="./img/banners/banner-02.jpg", alt="")