extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học từ vựng
                li
                    span Thực hành
        .c-info.mb-4
            | (Hướng dẫn làm bài luyện tập)+ Bạn hãy click vào những từ ở cột Những từ chưa qua để chọn ra những từ để luyện tập.
            br
            | (Bạn có thể click vào nút Select all để chọn tất cả. Nút Deselect để bỏ hết các đã từ chọn.)
            br
            | + Sau khi chọn xong danh sách từ cần luyện, bạn hãy click vào 1 trong 3 bài luyện tập trong cột Danh sách   bài luyện tập để làm các dạng bài tập có chứa các từ đã được chọn.
            br
            | + Một từ được coi là đã qua khi từ đó hoàn thành hết 3 bài luyện tập.

        .c-vocabulary-practice
            .c-vocabulary-practice__body
                .c-vocabulary-practice__content
                    .c-vocabulary-practice__title
                        span Từ chưa học
                    .c-vocabulary-practice__inner
                        .c-vocabulary-practice__wrapper
                            .c-select-group
                                .c-select-group__header
                                    button.btn.btn-primary.btn--small.btn--rounded.bg-yellow-dark.text-dark(type="button", data-select="#list-words") Select all
                                    button.btn.btn-primary.btn--small.btn--rounded.bg-yellow-dark.text-dark(type="button", data-deselect="#list-words") Deselect all
                                .c-select-group__body
                                    ul#list-words.list-words.ml-4
                                        li
                                            label
                                                input(type="checkbox")
                                                span 1. affect
                                        li
                                            label
                                                input(type="checkbox")
                                                span 2. annoy
                                        li
                                            label
                                                input(type="checkbox")
                                                span 3. bald
                                        li
                                            label
                                                input(type="checkbox")
                                                span 4. blond
                                        li
                                            label
                                                input(type="checkbox")
                                                span 5. character
                                        li
                                            label
                                                input(type="checkbox")
                                                span 6. curly
                                        li
                                            label
                                                input(type="checkbox")
                                                span 7. different
                                        li
                                            label
                                                input(type="checkbox")
                                                span 8. east
                                        li
                                            label
                                                input(type="checkbox")
                                                span 9. extremely
                                        li
                                            label
                                                input(type="checkbox")
                                                span 10. fair
                                        li
                                            label
                                                input(type="checkbox")
                                                span 1. affect
                                        li
                                            label
                                                input(type="checkbox")
                                                span 2. annoy
                                        li
                                            label
                                                input(type="checkbox")
                                                span 3. bald
                                        li
                                            label
                                                input(type="checkbox")
                                                span 4. blond
                                        li
                                            label
                                                input(type="checkbox")
                                                span 5. character
                                        li
                                            label
                                                input(type="checkbox")
                                                span 6. curly
                                        li
                                            label
                                                input(type="checkbox")
                                                span 7. different
                                        li
                                            label
                                                input(type="checkbox")
                                                span 8. east
                                        li
                                            label
                                                input(type="checkbox")
                                                span 9. extremely
                                        li
                                            label
                                                input(type="checkbox")
                                                span 10. fair     
                .c-vocabulary-practice__content
                    .c-vocabulary-practice__title
                        span Từ hoàn tất
                    .c-vocabulary-practice__inner
                        .c-vocabulary-practice__wrapper
                            .c-select-group
                                .c-select-group__body
                                     ul.list-words.ml-4
                                        li
                                            span 1. affect
                                        li
                                            span 2. annoy
                                        li
                .c-vocabulary-practice__content
                    .c-vocabulary-practice__title
                        span Danh sách bài luyện tập
                    .c-vocabulary-practice__inner
                        .c-vocabulary-practice__wrapper.p-3
                            .list-vocabulary-practice
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-01.png", alt="")
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice.card-vocabulary-practice--clear(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-02.png", alt="")
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-03.png", alt="")
                                .list-vocabulary-practice__item
                                    .card-vocabulary-practice.card-vocabulary-practice--clear(role="button")
                                        .card-vocabulary-practice__image
                                            img(src="./img/practice/practice-type-04.png", alt="")
                                    
        .text-center
            button.btn.btn-primary.btn--lg.btn--rounded.text-medium.text-dark(type="button") LUYỆN TẬP LẠI