extends _layouts/default

block container
    .container
        .c-breadcrumb.mb-4
            ul.breadcrumb
                li
                    a(href="./lessons.html") Học từ vựng
                li
                    span Lý thuyết
        table.c-vocabulary.mb-4
            thead
                tr
                    th No.
                    th Word
                    th Transcript
                    th Audio
                    th Class
                    th Meaning
                    th Example
            tbody
                tr
                    td.text-center 1
                    td.text-center affect
                    td /afekt/
                    td.text-center
                        button.btn.btn-clear(type="button")
                            span.icon-audio
                    td .v
                    td.text-center ảnh hưởng
                    td The divorce affected every aspect of her life.
                tr
                    td.text-center 1
                    td.text-center affect
                    td /afekt/
                    td.text-center
                        button.btn.btn-clear(type="button")
                            span.icon-audio.icon-audio--pause
                    td .v
                    td.text-center ảnh hưởng
                    td The divorce affected every aspect of her life.
        .mb-8.text-center
            a.btn.btn-primary.btn--lg.text-dark(href="./vocabulary-practice.html") Mời các bạn làm phần thực hành từ vựng

        .mt-4
            a(href="#")
                img.img--full(src="./img/banners/banner-02.jpg", alt="")