///* ========================================================================
//   #BREAKPOINT
//   ======================================================================== */

@mixin breakpoint($point) {
	@if $point == xxl {
		@media (min-width: $bkp-xxl) { @content; }
	}
	@if $point == xl {
		@media (min-width: $bkp-xl) { @content; }
	}
	@else if $point == lg {
		@media (min-width: $bkp-lg) { @content; }
	}
	@else if $point == md {
		@media (min-width: $bkp-md) { @content; }
	}
	@else if $point == sm {
		@media (min-width: $bkp-sm)  { @content; }
	}
}

@mixin breakpoint-down($point) {
	@if $point == xxl {
		@media (max-width: $bkp-xxl - 1px) { @content; }
	}
	@if $point == xl {
		@media (max-width: $bkp-xl - 1px) { @content; }
	}
	@else if $point == lg {
		@media (max-width: $bkp-lg - 1px) { @content; }
	}
	@else if $point == md {
		@media (max-width: $bkp-md - 1px) { @content; }
	}
	@else if $point == sm {
		@media (max-width: $bkp-sm - 1px)  { @content; }
	}
}