include ../_mixins/common

block vars
    -title = 'title'
    -description = 'description'
    -keywords = 'keywords'
    -name = 'home'

doctype html
html(lang="vi")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        meta(name="description", content=description)
        meta(name="keywords", content=keywords)
        title=title
        link(rel="icon" href="./img/favicon.png")
        // Google Fonts
        link(href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&family=Prompt:ital,wght@0,400;0,500;0,600;1,400&display=swap", rel="stylesheet")
        // FontAwesome
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.1.1/css/all.css", integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ", crossorigin="anonymous")
        // Style from all library
        link(rel="stylesheet", href="./css/vendor.min.css")
        // Site template
        link(rel="stylesheet", href="./css/main.css")
        <!--[if IE]>
        meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
        meta(http-equiv='cleartype' content='on')
        <![endif]-->
    body
        .l-container

            // START HEADER
            include ../_parts/header
            // CLOSE HEADER

            // START CONTENT
            .l-content
                block container
            // CLOSE CONTENT

            // START FOOTER
            include ../_parts/footer
            // CLOSE FOOTER
        
        // Jquery library
        script(src='https://code.jquery.com/jquery-3.4.1.min.js', integrity='sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=', crossorigin='anonymous')
        // Javascript form all library
        script(src="./js/vendor.min.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        // Site Javascript
        script(src="./js/scripts.js")