h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 8px;
    line-height: 1.2;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 16px;
}

p {
    margin-top: 0;
    margin-bottom: 1em;
}