.l-footer
    .container
        .c-footer-sitemap
            .c-footer-sitemap__item
                .c-sitemap
                    h6 Content
                    ul
                        li
                            a(href="#") Top icons
                        li
                            a(href="#") New icons
                        li
                            a(href="#") New packs
                        li
                            a(href="#") Tags
                        li
                            a(href="#") Categories
                        li
                            a(href="#") Authors
            .c-footer-sitemap__item
                .c-sitemap
                    h6 Apps
                    ul
                        li
                            a(href="#") API
                        li
                            a(href="#") @font-face generator
                        li
                            a(href="#") Patterns generator
                        li
                            a(href="#") Google Suite
            .c-footer-sitemap__item
                .c-sitemap
                    h6 Content
                    ul
                        li
                            a(href="#") Support
                        li
                            a(href="#") FAQs
                        li
                            a(href="#") Icon styles
                        li
                            a(href="#") Icons editor
                        li
                            a(href="#") Flaticon Collection
                        li
                            a(href="#") Follow
            .c-footer-sitemap__item
                .c-sitemap
                    h6 Company
                    ul
                        li
                            a(href="#") About
                        li
                            a(href="#") Contact us
                        li
                            a(href="#") Our license
                        li
                            a(href="#") Feedback
                        li
                            a(href="#") Affiliation
                        li
                            a(href="#") Blog
                        li
                            a(href="#") Plans and Pricing
        .c-footer-infor
            p TiếngAnh123.Com - a product of BeOnline Co., Ltd.
            p
                | Giấy phép ĐKKD số: 0102852740 cấp bởi Sở Kế hoạch và Đầu tư Hà Nội.
                br
                | Giấy phép đào tạo tiếng Anh số: 9816/QĐ-SGD&amp;ĐT cấp bởi Sở Giáo dục và Đào tạo Hà Nội.
                br
                | Giấy phép cung cấp dịch vụ mạng xã hội học tiếng Anh trực tuyến số: 549/GP-BTTTT cấp bởi Bộ Thông tin &amp; Truyền thông.
                br
                | Địa chỉ: số nhà 13,23, ngõ 259/9 phố Vọng, Đồng Tâm, Hai Bà Trưng, Hà Nội.
