.l-header
    .container
        .c-header
            .c-header__logo
                a(href="./")
                    img(src="./img/logo.png", alt="")
            .c-header__more
                .c-header__users.mb-4
                    a.btn.btn-primary.text-uppercase.mr-5(href="#") Đăng ký
                    a.btn.btn-primary.text-uppercase(href="#") Đăng nhập
                .c-header__social
                    .c-social
                        .c-social__item
                            a.c-social__link(href="#")
                                i.fab.fa-google-plus-g
                        .c-social__item
                            a.c-social__link(href="#")
                                i.fab.fa-facebook-f
                        .c-social__item
                            a.c-social__link(href="#")
                                i.fab.fa-instagram
        .c-navbar
            ul.navbar
                li.active
                    a(href="./index.html")
                        i.fas.fa-home
                li
                    a(href="#") Video bài giảng
                    .navsub
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                li
                    a(href="#") Học từ vựng
                    .navsub
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                li
                    a(href="#") Từ điển
                    .navsub
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                li
                    a(href="#") Nền tảng
                li
                    a(href="#") 4.5 ielts
                li
                    a(href="#") 5.5 ielts
                    .navsub.navsub--right
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                li
                    a(href="#") 6.5 ielts
                    .navsub.navsub--right
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                        ul
                            li
                                a(href) Tiếng Anh Mầm Non
                            li
                                a(href) Tiếng Anh lớp 8
                            li
                                a(href) Tiếng Anh lớp 8 - mới
                li
                    a(href="#") Toic
        div
            a(href="#")
                img.img--full(src="./img/banners/banner-01.jpg", alt="")
