<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="0" height="0" style="position: absolute;">
    <defs>
        <symbol id="icon-menu" viewBox="0 0 24 24">
            <path
                d="M12 18H5a1 1 0 0 1 0-2h7a1 1 0 0 1 0 2zM19 8.019h-7a1 1 0 0 1 0-2h7a1 1 0 1 1 0 2zM19 13H5a1 1 0 0 1 0-2h14a1 1 0 0 1 0 2z"
            />
        </symbol>
    </defs>
</svg>