/*---------------------------------
**** Object | Breadcrumb
-----------------------------------*/

.breadcrumb {
    display: flex;
    flex-wrap: wrap;

    li {
        font-size: 24px;
        position: relative;
        z-index: 1;

        & + li {
            margin-left: -15px;
        }

        &:last-child {
            z-index: 0;
        }
    }

    a,
    span {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        height: 40px;
        padding: 4px 20px 5px;
        background-color: $primary;
        color: $dark;
        border-radius: 10px;

        &:hover {
            text-decoration: none;
        }
    }

    a {
        text-transform: uppercase;
    }

    span {
        background-color: $yellowDark;
        padding-left: 35px;
    }
}