/*---------------------------------
**** Object | Nav
-----------------------------------*/

.navbar {
    display: flex;
    align-items: center;
    background-color: $gray;

    > li {
        border-right: 1px solid #222222;
        position: relative;

        > a {
            display: block;
            height: 46px;
            line-height: 46px;
            color: white;
            font-family: $font-family-secondary;
            font-size: 15px;
            font-weight: 500;
            text-transform: uppercase;
            padding: 0 10px;
            transition: all $duration $easing;

            @include breakpoint(lg) {
                padding: 0 16px;
            }
        }

        &:hover {
            .navsub {
                opacity: 1;
                visibility: visible;
            }
        }

        &:hover,
        &.active {
            > a {
                background-color: $primary;
                color: white;
                text-decoration: none;
            }
        }
    }

    .navsub {
        position: absolute;
        top: 100%;
        left: -1px;
        display: flex;
        background-color: $gray;
        z-index: 1030;
        width: max-content;
        padding: 20px 0;
        transition: all $duration $easing;
        opacity: 0;
        visibility: hidden;

        &--right {
            left: auto;
            right: 0;
        }

        ul {
            padding: 0 20px;
            width: 190px;

            &:not(:last-child) {
                border-right: 1px solid $dark;
            }

            li {
                a {
                    display: block;
                    color: white;
                    padding: 5px 0 8px;

                    &:hover {
                        text-decoration: none;
                        color: $primary;
                    }
                }

                &:not(:last-child) {
                    border-bottom: 1px solid $dark;
                }
            }
        }
    }
}