/*---------------------------------
**** Object | Heading
-----------------------------------*/

/* Heading primary */

.heading-primary {
    font-weight: normal;
    font-size: 24px;

    span {
        display: inline-block;
        background-color: $primary;
        border-radius: 10px;
        padding: 7px 20px 8px;
    }
}