/*---------------------------------
**** Object | Buttons
-----------------------------------*/

.btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: none;
    user-select: none;
    padding: 4px 12px 5px;
    font-size: 14px;
    line-height: 1.5;
    transition: all $duration $easing;
    cursor: pointer;

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }

    &--rounded {
        border-radius: 10px;
    }

    &--lg {
        padding: 15px 50px 16px;
        font-weight: bold;
    }

    &--md {
        padding: 10px 30px 11px;
        font-size: 19px;
    }

    &--big {
        font-size: 30px;
        padding-left: 40px;
        padding-right: 40px;
    }

    &--small {
        padding: 0 6px 1px;
        // font-size: 16px;
        font-style: italic;

        &.btn--rounded {
            border-radius: 5px;
        }
    }
}

@each $key,
$val in $colors {
    .btn-#{$key} {
        background-color: #{$val};
        color: white;
        &:hover,
        &:focus {
            background-color: darken($color: $val, $amount: 5);
            border-color: darken($color: $val, $amount: 5);
            color: white;
        }
    }
}

.btn-clear {
    padding: 0;
    margin: 0;
    border: none;
    background-color: transparent;
}