/*---------------------------------
**** Object | List
-----------------------------------*/

/* List Skills */
.list-skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -10px;

    &__item {
        padding: 0 10px;
        width: 255px;
        margin-bottom: 20px;
    }

    .card-skill {
        height: 100%;
    }
}

/* List words */
.list-words {
    @include breakpoint-down(lg) {
        display: flex;
        flex-wrap: wrap;
    }

    li {
        font-size: 16px;
        font-weight: bold;
        font-style: italic;
        line-height: (36/16);
        margin-right: 20px;

        label {
            cursor: pointer;
            user-select: none;
        }

        input {
            display: none;

            &:checked + span {
                color: $yellowDark;
            }
        }
    }
}

/* List grammar */
.list-grammar {
    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 10px 34px 10px 0;

        &:not(:last-child) {
            border-bottom: 2px solid #dec778;
        }
    }

    &__button {
        width: 100px;
        padding: 0 20px;
        text-align: center;
    }

    &__content {
        flex: 1;
        overflow: hidden;

        h6 {
            font-weight: normal;
            margin-bottom: 0;
        }

        p {
            font-size: 10px;
            margin-bottom: 0;
        }
    }

    .icon-audio {
        background-color: $dark;
        color: #fff200;
    }
}

/* List vocabulary practice */
.list-vocabulary-practice {
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 50%;
        padding: 0 7px;
        margin: 7px 0;
    }
}
