/*---------------------------------
**** Object | Icons
-----------------------------------*/

.icon-audio {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: $yellowDark;
    color: black;

    &::before {
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 9px;
        border-color: transparent transparent transparent currentColor;
        margin-left: 3px;
    }

    &:hover {
        background-color: $primary;
    }

    &--pause {
        &::before {
            width: 8px;
            height: 10px;
            border-width: 0 3px;
            border-color: currentColor;
            margin-left: 0;
        }
    }
}

.icon-speaker {
    width: 38px;
    height: 38px;
    background: url("../img/icons/icon-speaker.png") no-repeat 0 0;
    background-size: 100% 100%;
}

.icon-speaker-o {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background-color: $primary;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &::before {
        display: block;
        content: "";
        @extend .icon-speaker;
    }
}

.icon-sound {
    width: 120px;
    height: 120px;
    background: url("../img/icons/icon-sound.png") no-repeat 0 0;
    background-size: 100% 100%;
}