/*---------------------------------
**** Object | Form
-----------------------------------*/

.form-control {
    background-color: #ebebeb;
    border: none;
    border-radius: 40px;
    padding: 2px 10px;
    outline: none;

    &--shadow {
        display: block;
        width: 100%;
        border-radius: 10px;
        box-shadow: 2px 2px 0 rgba($color: #979696, $alpha: .85);
        height: 34px;
    }
}

.custom-checkbox {
    input[type="checkbox"] {
        display: none;

        & + span {
            content: "";
            display: inline-block;
            width: 17px;
            height: 17px;
            background-color: #f26522;
            box-shadow: 1px 2px 0 #572b15;
            border-radius: 4px;
            position: relative;
            text-align: center;
        }

        &:checked + span {
            &::before {
                content: "✔";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                line-height: 15px;
                color: white;
            }
        }
    }
}

.custom-radio {
    cursor: pointer;
    
    &__radio {
        display: inline-block;
        vertical-align: 1px;
        line-height: 0;
        margin-right: 6px;
    
        input[type="radio"] {
            display: none;
    
            + span {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                background-color: $yellowDark;
                vertical-align: middle;
    
                &::before {
                    display: block;
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: white;
                    opacity: 0;
                }
            }
    
            &:checked + span {
                &::before {
                    opacity: 1;
                }
            }
        }
    }

}