/*---------------------------------
**** Object | Card
-----------------------------------*/

/* Card topic */
.card-topic {
    display: flex;
    height: 217px;
    background-color: $primary;

    &__image {
        width: 217px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;
        overflow: hidden;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }

    &__header {
        h5 {
            display: inline-block;
            font-size: 18px;
            background-color: $dark;
            border-radius: 10px;
            padding: 2px 16px 3px;
            color: white;
        }
    }

    &__body {
        h3 {
            font-size: 18px;
            text-transform: uppercase;
        }
    }

    &__footer {
        .btn {
            border-radius: 10px;
            color: $dark;
            text-transform: uppercase;
            box-shadow: 0 0 6px #cb8f00;
        }
    }
}

/* Card lessons */
.card-lesson {
    display: flex;

    &__image {
        width: 240px;
        height: 240px;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__content {
        flex: 1;
        overflow: hidden;
        padding: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        background-color: $primary;
        height: 240px;
    }

    &__header {
        h2 {

        }
    }

    &__body {
        h3 {
            text-transform: uppercase;
        }
    }

    &__footer {
        .btn {
            font-size: 24px;
            min-width: 204px;
            padding-top: 3px;
            padding-bottom: 7px;
        }
    }
}

/* Card skill */
.card-skill {
    display: flex;
    flex-direction: column;
    background-color: $yellowLighter;
    box-shadow: 0 0 6px $brew;
    padding: 20px;
    text-align: center;

    &__header {
        background-color: $primary;
        text-align: center;
        margin-bottom: 10px;
    }

    &__body {
        flex: 1 1 auto;
        
        h4 {
            text-transform: uppercase;
            text-align: center;
        }

        p {
            font-size: 12px;
            line-height: 1.2;
        }
    }

    &__footer {
        .btn {
            font-size: 12px;
            width: 100%;
        }
    }
}

/* Card vocabulary practice */
.card-vocabulary-practice {
    position: relative;
    background-color: $yellowLighter;
    box-shadow: 0 0 5px #7b7b7b;

    &__image {
        img {
            display: block;
            width: 100%;
        }
    }

    &--clear {
        background-color: transparent;
        box-shadow: none;
    }
}

/* Card grammar */
.card-grammar {
    &__header {
        display: flex;
        // flex-wrap: wrap;
        align-items: center;
        background-color: $primary;
        padding: 10px 20px 10px 0;
    }

    &__number {
        width: 100px;
        padding: 0 20px;
        text-align: center;
    }

    &__no {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: $dark;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 58px;
        font-weight: bold;
    }

    &__title {
        flex: 1;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
    }

    &__body {
        background-color: #eee1af;
    }
}

/* Card grammar practice */
.card-grammar-practice {
    display: block;
    height: 0;
    min-height: 210px;
    padding-bottom: (210/450)*100%;
    position: relative;
    color: $dark;

    &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all $duration $easing;
        }

        .card-grammar-practice:hover & {
            img {
                transform: scale(1.1);
            }
        }
    }

    &__header {
        display: flex;
        align-items: center;
        background-color: rgba($color: $primary, $alpha: .7);
        padding: 10px 20px 10px 0;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }

    &__number {
        width: 100px;
        padding: 0 20px;
        text-align: center;
    }

    &__no {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 62px;
        height: 62px;
        border-radius: 50%;
        background-color: $dark;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 58px;
        font-weight: bold;
    }

    &__title {
        flex: 1;
        overflow: hidden;
        font-size: 16px;
        font-weight: bold;
        line-height: 1.2;
    }

    &__body {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 10px;
        text-align: center;

        h6 {
            margin-bottom: 0;

            span {
                font-family: Arial, Helvetica, sans-serif;
                display: inline-block;
                vertical-align: middle;
                padding: 4px 20px;
                background-color: $primary;
            }
        }
    }
}

/* Card grammar practice drop */
.card-grammar-practice-drop {
    &__header {
        padding: 8px 8px 10px;
        background-color: $yellowDark;
        font-size: 18px;
        text-align: center;
    }

    &__body {
        background-color: $grayLighter;
        padding: 10px;
        min-height: 340px;
    }
}

.card-grammar-practice-check {
    background-color: #fdc689;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;

    &__item {
        width: 25%;
        text-align: center;
        padding: 0 5px;

        h5 {
            font-size: 18px;
        }
    }
}